<app-nav-bar></app-nav-bar>

<body>

<div class="navbar">

</div>

<ul>
  <li><a href="index.html">Strona główna</a></li>
  <li><a href="contact.html">Kontakt</a></li>
  <li><a href="map.html">Mapa</a></li>
  <li><a href="quiz.html">Quiz</a></li>
</ul>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <p>do re mi fa so la si do</p>
    </div>
    <div class="col-md-3">
      <img class="rounded float-right img-fluid" src="../43389619_1191706850982606_8669021578622664704_n.jpg"/>
    </div>
  </div>
</div>
</body>
